.heading{
    width: 100%;
    font-size: 22px;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.div_song_names{
    font-size: 22px;
}

canvas{
    border: 5px solid white;
    border-radius: 15px;
    box-shadow:5px 5px 5px teal;
}